<h1>EmergencyModules#new</h1>
<p>Find me in app/views/emergency_modules/new.html.erb</p>

<!-- Create shared form for edit and new -->
<div class="container-lg border form mt-4">
<%= simple_form_for @emergency_module do |f| %>
<%= f.input :name %>
<%= f.input :photo, as: :file %>
<%= f.button :submit, class: "btn btn-primary mt-4 mb-4" %>
 <% end %>
 </div>
