<div class="container-lg border form mt-4">
  <%= simple_form_for @faq do |f| %>
    <%= f.input :question %>
    <%= f.input :answer %>
    <%= f.button :submit, class: "btn btn-primary mt-4 mb-4" %>
   <% end %>
 </div>
