
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Crime Map Configuration</li>
    </ol>
  </nav>
<h1>Crime Map Configuration</h1>
<p>This table is to for managing the crime map sytem configuration items, including the build of a polymap</p>
  <table>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <% @crime_map_configs.each do |crime_map_config| %>
    <tr>
      <td><%= crime_map_config.key %>  </td>
      <td><%= crime_map_config.value %></td>
    </tr>
    <% end %>
  </table>
</div>
