  <section class="hero hero-gradient text-center text-white py-5 position-relative overflow-hidden">
    <div class="hero-content position-relative z-1">
      <h1>About Bleed Safe</h1>
      <p class="mt-4">At Bleed Safe our vision is to create a safer and more empowered generation of young people in the UK, where every individual has access to life-saving knowledge and tools that can make a difference in critical moments.
      Through education, community support, and immediate access to first aid guidance, we aim to break the cycle of violence, protect vulnerable lives, and foster a culture of safety and resilience in at-risk communities.
      We believe that every school child should have this app on their phone, in the long term we hope that people can share their experiences, learn from peers and get the additional support they need through our application.
      </p>
      <%= link_to "Get Started", training_modules_path,
          class: "btn btn-unique",
          data: { turbo_frame: "main_content" } %>
    </div>

    <!-- SVG Wave -->
    <svg class="hero-wave position-absolute bottom-0 start-0 w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150" preserveAspectRatio="none">
      <path fill="#f8f9fa" d="M0,96 C360,192 1080,0 1440,96 L1440,150 L0,150 Z"></path>
    </svg>
  </section>
