
    <!-- SVG Wave -->
<svg class="hero-wave position-absolute bottom-0 start-0 w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150" preserveAspectRatio="none">
  <path fill="#f8f9fa" d="M0,96 C360,192 1080,0 1440,96 L1440,150 L0,150 Z"></path>
  </svg>
</section>

  <!-- User Quick Links Cards -->


    <% if current_user.admin == true %>
      <%= render "pages/dashboard_admin" %>
    <% else %>
      <%= render "pages/dashboard_user" %>
    <% end %>
