
<br>
<div class="container">
<div class="cards-dashboard">
<%=link_to "Training Modules", training_modules_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Emergency Modules", emergency_modules_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Edit FAQs", faqs_path, class: "btn btn-success btn-dashboard mt-4" %>
</div>
</div>
