<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Crime Map Postcode Exclusions</li>
    </ol>
  </nav>
<h1>Crime Map Postcode Exclusions</h1>
<p>This table is for preventing access to crime statistics or diverting to different APIs based on postcode</p>
  <table>
    <tr>
      <th>Postcode</th>
    </tr>
    <% @crime_postcode_exclusions.each do |crime_postcode_exclusion| %>
    <tr>
      <td><%= crime_postcode_exclusion.postcode %>  </td>
    </tr>
    <% end %>
  </table>
</div>
